html {
  background: lightgrey;
  font-size: 14px;
  margin:10px;
}

#heading {
  text-align: center;

}

img{
  max-width:100%;
}

#body{
  background-color:#fff;
  margin: 1.5rem;
  padding: 1.5rem;
  border: thin black solid;

}

#helioQuote{

  margin: .5rem;
  padding: .5rem;
  text-align: center;
}


#mainContent{
  text-align:center;
  }
#accomplishmentsList{
  text-align:center;
}

ul  li {
list-style: none;
  text-align:center;
}

#fightRecord{
  margin: .5rem;
  padding: .5rem

}

@media screen and (max-width: 200px) {
  table {
    border: 1;
  }
figure{
  float: right;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: larger;
  text-indent: 0;
  border: thin silver solid;
  border-top: none;
  margin: .2rem;
  padding: .2rem;
  padding-top: 0;
  display: table;
  background-color: #fff;
}

figcaption {
  background-color: #ffff;
  display: table-caption;
  caption-side: top;
  border: thin silver solid;
  border-bottom: none;
  padding: 0.5rem;
}

img.scaled{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.footer{
  width: 100%;
  background-color: lightgrey;
  text-align: center;

}
